.bottom_background_wrapper {
  position: absolute;
  isolation: isolate;
  display: flex;
  justify-content: center;
  filter: blur(78px);
  -webkit-filter: blur(78px);
  z-index: -10;

  img {
    position: relative !important;
    opacity: 0.2;
    width: 94% !important;
    height: 54% !important;
    clip-path: polygon(
      77.5% 40.13%,
      90% 10%,
      100% 50%,
      95% 80%,
      92% 85%,
      75% 65%,
      61.26% 54.7%,
      50% 54.7%,
      47.24% 65.81%,
      50% 85%,
      26.16% 73.91%,
      0.1% 100%,
      1% 40.13%,
      20% 48.75%,
      60% 0.25%,
      67.5% 32.63%
    );
  }
}
