.top_background_wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(80% 50% at 50% -4%, rgba(94, 176, 239, 0.5), hsla(0, 0%, 100%, 0));

  img {
    position: absolute;
    width: unset !important;
    height: unset !important;
    z-index: -9;
    opacity: 0.1;
  }
}
