@use "./colors" as c;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--cyan-color);
  color: var(--black-color);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bright-gray-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--black-color);
}

::-webkit-scrollbar:hover {
  width: 8px;
  background-color: var(--bright-gray-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cyan-color);
}

:root {
  --white-color: #{c.$white};
  --black-color: #{c.$black};
  --lightGray-color: #{c.$lightGray};
  --bright-gray-color: #{c.$brightGray};
  --transparentBlack01a-color: #{c.$transparentBlack01a};
  --transparentTimberGreenC38-color: #{c.$transparentTimberGreenC38};
  --cyan-color: #{c.$cyan};
  --dark-blue-color: #{c.$darkBlue};
}
